@mixin imagen-bot() {
   margin: auto;
    object-fit: cover;
    opacity: 1;
    
    z-index: 1;
}


@mixin imagen-top() {
    margin: auto;
    position: absolute;
    z-index: 2;
    
    object-fit: cover;
}